<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/jquery.js" ></script>
    <script src="/javascripts/dragable.js"></script>
    <script src="/javascripts/button-view.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/javascripts/tablesort.js">
    </script>
    <script>
      $(document).ready(function () {
        $('table').tablesort();
      });
    </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Non-Neutral Zone</a>
      <ul id="nav-mobile" class="right">
        <li><a href="https://nonneutralzone.com/">Home</a></li>
        <li><a href="https://nonneutralzone.com/category/podcast/">Podcasts</a></li>
        <li><a href="https://nonneutralzone.com/category/articles/">Articles</a></li>
        <li><a href="https://nonneutralzone.com/2020/05/03/non-neutral-zone-2020-rookie-draft-ranking/">2020 Rookie Drafts</a></li>
        <li><a href="https://nonneutralzone.com/contact-us/">Contact Us</a></li>
      </ul>
    </div>
  </nav>
    <h1 class="centered"><%= title %></h1>
    <div class="container">
      <row class="row">
        <div class="col s4 header-button" id="show-all-button">
          <a class="waves-effect waves-light btn">All</a>
        </div>
        <div class="col s4 header-button" id="show-te-button">
          <a class="waves-effect waves-light btn">Tight Ends</a>
        </div>
        <div class="col s4 header-button" id="show-qb-button">
          <a class="waves-effect waves-light btn">Quarterbacks</a>
        </div>
      </row>
      <row class="row">
        <div class="col s4 header-button" id="show-wr-button">
          <a class="waves-effect waves-light btn">Wide Receivers</a>
        </div>
        <div class="col s4 header-button" id="show-rb-button">
          <a class="waves-effect waves-light btn">Running Backs</a>
        </div>
        <div class="col s4 header-button" id="show-df-button">
          <a class="waves-effect waves-light btn">Defense</a>
        </div>
      </row>
      </div>

    </div>
    <row class="row print-container">
      <div class="col s4"></div>
      <div class="col s4">
        <a class="waves-effect waves-light btn header-button" onclick="window.print()">Print this page</a>
      </div>
      <div class="col s4"></div>
    </row>

    <div class="row te-full">
      <h2 class="position-header">Tight Ends</h2>
      <div class="col s6">
        <h2 class="centered">Josh</h2>
        <div class="table-wrap" id="tight-end-table">
          <table id="josh-te-table" class="table-dragable">
            <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Team</th>
              <th>Tier</th>
              <th>ADP</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < teJosh.length; i++) { %>
              <%if (teJosh[i]["Tier Josh"] !== null && teJosh[i]["Tier Josh"] !== ''){%>
              <tr class="grabable tier<%= teJosh[i]["Tier Josh"].toString() %> ">
              <td><%= parseInt(teJosh[i].Josh )%></td>
                <td><%= teJosh[i].Team  %></td>
                <td><%= teJosh[i]["Tight Ends"] %></td>
                <td><%= teJosh[i]["Tier Josh"] %> </td>
                <td class="adp"></td>
                <td class="grabable">&varr;</td>
              </tr>
            <%}%>
            <%}%>
            </tbody>
          </table>
        </div>

      </div>
      <div class="col s6">
        <h2 class="centered">Brandon</h2>
        <div class="table-wrap" id="tight-end-table">
        <table class="table-dragable">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Team</th>
            <th>Tier</th>
            <th>ADP</th>
          </tr>
          </thead>
          <tbody>
          <% for(var i=0; i < teBrandon.length; i++) { %>
          <%if (teBrandon[i]["Tier Brandon"] !== null && teBrandon[i]["Tier Brandon"] !== ''){%>
            <tr class="grabable tier<%= te[i]["Tier Josh"].toString() %> ">
              <td><%= teBrandon[i].Brandon %></td>
              <td><%= teBrandon[i].Team  %></td>
              <td><%= teBrandon[i]["Tight Ends"] %></td>
              <td><%= teBrandon[i]["Tier Brandon"] %> </td>
              <td class="adp"></td>
              <td class="grabable">&varr;</td>
            </tr>
          <%}%>
          <%}%>
          </tbody>
        </table>
        </div>
      </div>
    </div>

<!--  Wide Receivers -->

    <div class="row wr-full">
      <h2 class="position-header">Wide Receivers</h2>
      <div class="col s6">
        <h2 class="centered">Josh</h2>
        <div class="table-wrap" id="wr-table">
          <table class="table-dragable">
            <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Team</th>
              <th>Tier</th>
              <th>ADP</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < wrJosh.length; i++) { %>
            <%if (wrJosh[i]["Tier Josh"] !== null && wrJosh[i]["Tier Josh"] !== ''){%>
              <tr class="grabable tier<%= wrJosh[i]["Tier Josh"] %> ">
                <td><%= wrJosh[i]["Rank Josh"] %></td>
                <td><%= wrJosh[i].Team  %></td>
                <td><%= wrJosh[i]["Wide Receivers"] %></td>
                <td><%= wrJosh[i]["Tier Josh"] %> </td>
                <td class="adp"></td>
                <td class="grabable">&varr;</td>
              </tr>
            <%}%>
            <%}%>
            </tbody>
          </table>
        </div>

      </div>
      <div class="col s6">
        <h2 class="centered">Brandon</h2>
        <div class="table-wrap" id="wr-table">
          <table class="table-dragable">
            <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Team</th>
              <th>Tier</th>
              <th>ADP</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < wrBrandon.length; i++) { %>
            <%if (wrBrandon[i]["Tier Brandon"] !== null && wrBrandon[i]["Tier Brandon"] !== ''){%>
              <tr class="grabable tier<%= wrBrandon[i]["Tier Brandon"]%> ">
                <td><%= wrBrandon[i]["Rank Brandon"] %></td>
                <td><%= wrBrandon[i].Team  %></td>
                <td><%= wrBrandon[i]["Wide Receivers"] %></td>
                <td><%= wrBrandon[i]["Tier Brandon"] %> </td>
                <td class="adp"></td>
                <td class="grabable">&varr;</td>
              </tr>
            <%}%>
            <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<!-- Running backs-->
    <div class="row rb-full">
      <h2 class="position-header">Running Backs</h2>
      <div class="col s6">
        <h2 class="centered">Josh</h2>
        <div class="table-wrap" id="rb-table">
          <table class="table-dragable">
            <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Team</th>
              <th>Tier</th>
              <th>ADP</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < rbJosh.length; i++) { %>
            <%if (rbJosh[i]["Tier Josh"]  !== null && rbJosh[i]["Tier Josh"]  !== ''){%>
              <tr class="grabable tier<%= rbJosh[i]["Tier Josh"] %> ">
                <td><%= rbJosh[i]["Rank Josh"] %></td>
                <td><%= rbJosh[i].Team  %></td>
                <td><%= rbJosh[i]["Running Backs"] %></td>
                <td><%= rbJosh[i]["Tier Josh"] %> </td>
                <td class="adp"></td>
                <td class="grabable">&varr;</td>
              </tr>
            <%}%>
            <%}%>
            </tbody>
          </table>
        </div>

      </div>
      <div class="col s6">
        <h2 class="centered">Brandon</h2>
        <div class="table-wrap" id="rb-table">
          <table class="table-dragable">
            <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Team</th>
              <th>Tier</th>
              <th>ADP</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < rbBrandon.length; i++) { %>
            <%if (rbBrandon[i]["Tier Brandon"] !== null && rbBrandon[i]["Tier Brandon"] !== ''){%>
              <tr class="grabable tier<%= rb[i]["Tier Brandon"].toString() %> ">
                <td><%= rbBrandon[i]["Rank Brandon"] %></td>
                <td><%= rbBrandon[i].Team  %></td>
                <td><%= rbBrandon[i]["Running Backs"] %></td>
                <td><%= rbBrandon[i]["Tier Brandon"] %> </td>
                <td class="adp"></td>
                <td class="grabable">&varr;</td>
              </tr>
            <%}%>
            <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<!--  Quarter Backs-->

    <div class="row qb-full">
      <h2 class="position-header">Quarter Backs</h2>
      <div class="col s6">
        <h2 class="centered">Josh</h2>
        <div class="table-wrap" id="qb-table">
          <table class="table-dragable">
            <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Team</th>
              <th>Tier</th>
              <th>ADP</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < qbJosh.length; i++) { %>
            <%if (qbJosh[i]["Tier Josh"] !== null && qbJosh[i]["Tier Josh"] !== ''){%>
              <tr class="grabable tier<%= qbJosh[i]["Tier Josh"].toString() %> ">
                <td><%= qbJosh[i]['Rank Josh'] %></td>
                <td><%= qbJosh[i].Team  %></td>
                <td><%= qbJosh[i]["Player"] %></td>
                <td><%= qbJosh[i]["Tier Josh"] %> </td>
                <td class="adp"></td>
                <td class="grabable">&varr;</td>
              </tr>
            <%}%>
            <%}%>
            </tbody>
          </table>
        </div>

      </div>
      <div class="col s6">
        <h2 class="centered">Brandon</h2>
        <div class="table-wrap" id="qb-table">
          <table class="table-dragable">
            <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Team</th>
              <th>Tier</th>
              <th>ADP</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < qbBrandon.length; i++) { %>
            <%if (qbBrandon[i]["Tier Brandon"] !== null && qbBrandon[i]["Tier Brandon"] !== ''){%>
              <tr class="grabable tier<%= qb[i]["Tier Josh"].toString() %> ">
                <td><%= qbBrandon[i]['Rank Brandon'] %></td>
                <td><%= qbBrandon[i].Team  %></td>
                <td><%= qbBrandon[i]["Player"] %></td>
                <td><%= qbBrandon[i]["Tier Brandon"] %> </td>
                <td class="adp"></td>
                <td class="grabable">&varr;</td>
              </tr>
            <%}%>
            <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<!--  defense-->
  <div class="row df-full">
    <h2 class="position-header">Defense</h2>
    <div class="col s6">
      <h2 class="centered">Josh</h2>
      <div class="table-wrap" id="qb-table">
        <table class="table-dragable">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Team</th>
            <th>Tier</th>
            <th>ADP</th>
          </tr>
          </thead>
          <tbody>
          <% for(var i=0; i < defenseJosh.length; i++) { %>
          <%if (defenseJosh[i]["Tier Josh"] !== null && defenseJosh[i]["Tier Josh"] !== ''){%>
            <tr class="grabable tier<%= defenseJosh[i]["Tier Josh"].toString() %> ">
              <td><%= defenseJosh[i]['Rank Josh'] %></td>
              <td><%= defenseJosh[i].Name  %></td>
              <td><%= defenseJosh[i]["Tier Josh"] %> </td>
              <td class="adp"></td>
              <td class="grabable">&varr;</td>
            </tr>
          <%}%>
          <%}%>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col s6">
      <h2 class="centered">Brandon</h2>
      <div class="table-wrap" id="qb-table">
        <table class="table-dragable">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Team</th>
            <th>Tier</th>
            <th>ADP</th>
          </tr>
          </thead>
          <tbody>
          <% for(var i=0; i < defenseBrandon.length; i++) { %>
          <%if (defenseBrandon[i]["Tier Brandon"] !== null && defenseBrandon[i]["Tier Brandon"] !== ''){%>
            <tr class="grabable tier<%= defenseBrandon[i]["Tier Josh"].toString() %> ">
              <td><%= defenseBrandon[i]['Rank Brandon'] %></td>
              <td><%= defenseBrandon[i].Name  %></td>
              <td><%= defenseBrandon[i]["Tier Brandon"] %> </td>
              <td class="adp"></td>
              <td class="grabable">&varr;</td>
            </tr>
          <%}%>
          <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  </body>
</html>
